In [1]:
import pandas as pd
import numpy as np

### Creating dataframe

In [2]:
arrays = [
    pd.Series([5.5, 5.5, 5.5, 5.5, 5.5, 5.5, 6.5, 6.5, 6.5, 6.5, 6.5, 6.5], name='mag'),
    pd.Series([10, 10, 100, 100, 1000, 1000, 10, 10, 100, 100, 1000, 1000], name='rrup'),
    pd.Series(['AkkarEtAl2008', 'CauzziEtAl2014', 'AkkarEtAl2008', 'CauzziEtAl2014', 
               'AkkarEtAl2008', 'CauzziEtAl2014', 'AkkarEtAl2008', 'CauzziEtAl2014', 
               'AkkarEtAl2008', 'CauzziEtAl2014', 'AkkarEtAl2008','CauzziEtAl2014', ], name='model')
]
# arrays = [
#     np.array([5.5, 5.5, 5.5, 6.5]),
#     np.array([10, 100, 1000]),
# ]
df = pd.DataFrame(np.random.randn(8, 12), columns=arrays, index=pd.Series(np.arange(0, 0.8, 0.1), name='period'))
df

/var/folders/pd/yxp8_j0s7svgfd4h68xjnz380000gp/T/ipykernel_63605/1370175188.py:12: DeprecationWarning: Series._data is deprecated and will be removed in a future version. Use public APIs instead.
  df = pd.DataFrame(np.random.randn(8, 12), columns=arrays, index= pd.Series(np.arange(0, 0.8, 0.1), name='period'))

mag              5.5                                              \
rrup            10                           100
model  AkkarEtAl2008 CauzziEtAl2014 AkkarEtAl2008 CauzziEtAl2014
period
0.0        -1.516320       0.970016     -1.653010      -0.798570
0.1         1.344528       0.779223     -0.344663       1.578510
0.2        -0.079413      -0.658428      0.456658       0.115571
0.3        -0.727160      -1.532905      0.013296      -0.628720
0.4         1.606640      -1.402644      2.197318      -1.985273
0.5        -1.202337       1.340564     -0.618306       0.080398
0.6        -0.371842      -1.281515     -1.319180       0.608654
0.7        -0.776889       0.775599     -0.800213      -0.949426

mag                                           6.5                 \
rrup            1000                         10
model  AkkarEtAl2008 CauzziEtAl2014 AkkarEtAl2008 CauzziEtAl2014
period
0.0        -1.761078       0.813735     -0.070881       0.145514
0.1        -0.108827      -0.761557     -1.511729       1.479269
0.2         0.574101       1.082836      1.196809      -0.310715
0.3         0.834068       0.264553      0.449714       0.364202
0.4        -0.892579       0.369818     -0.492091       0.220146
0.5        -0.278875      -0.054085      0.046242      -0.982073
0.6        -0.484814       1.978169     -0.977571      -0.751979
0.7        -0.187824      -0.766408     -0.360313       0.764796

mag
rrup            100                          1000
model  AkkarEtAl2008 CauzziEtAl2014 AkkarEtAl2008 CauzziEtAl2014
period
0.0         0.170961       0.278451     -1.435137      -0.391091
0.1         0.618122       0.886560     -0.381265      -0.803524
0.2         0.343530      -0.643904      0.166601       2.215553
0.3         1.836391       3.693579     -0.792025      -0.918594
0.4        -0.240701       0.877269      0.268362      -0.799153
0.5         0.419548      -0.326332     -1.303088       2.969534
0.6         0.182530      -1.685829      0.658182       0.632901
0.7        -0.828983      -1.076377      0.330469      -0.061597

In [3]:
df.columns

MultiIndex([(5.5,   10,  'AkkarEtAl2008'),
            (5.5,   10, 'CauzziEtAl2014'),
            (5.5,  100,  'AkkarEtAl2008'),
            (5.5,  100, 'CauzziEtAl2014'),
            (5.5, 1000,  'AkkarEtAl2008'),
            (5.5, 1000, 'CauzziEtAl2014'),
            (6.5,   10,  'AkkarEtAl2008'),
            (6.5,   10, 'CauzziEtAl2014'),
            (6.5,  100,  'AkkarEtAl2008'),
            (6.5,  100, 'CauzziEtAl2014'),
            (6.5, 1000,  'AkkarEtAl2008'),
            (6.5, 1000, 'CauzziEtAl2014')],
           names=['mag', 'rrup', 'model'])

### Saving dataframe

In [4]:
import os
fout = os.path.join(os.getcwd(), 'tmp.csv')
print(fout)
df.to_csv(fout)

/Users/rizac/work/gfz/projects/sources/python/notebook_workbench/tmp.csv

### Re-opening dataframe

#### TL/DR:

In [12]:
df = pd.read_csv(fout, header=[0, 1, 2], index_col=0)
# if you want to access mag and dist via float (otherwise you need to quote them):
mags, dists, models = df.columns.levels
df.columns = df.columns.set_levels([mags.astype(float), dists.astype(float), models])

#### Step by step
Read CSV creating a dataframe with 3 header levels (created from the first 3 rows, and an index created from the 1st column

In [14]:
df = pd.read_csv(fout, header=[0, 1, 2], index_col=0)
display(df)
print('\nColumns:')
print(df.columns)

mag              5.5                                              \
rrup              10                          100
model  AkkarEtAl2008 CauzziEtAl2014 AkkarEtAl2008 CauzziEtAl2014
period
0.0        -1.516320       0.970016     -1.653010      -0.798570
0.1         1.344528       0.779223     -0.344663       1.578510
0.2        -0.079413      -0.658428      0.456658       0.115571
0.3        -0.727160      -1.532905      0.013296      -0.628720
0.4         1.606640      -1.402644      2.197318      -1.985273
0.5        -1.202337       1.340564     -0.618306       0.080398
0.6        -0.371842      -1.281515     -1.319180       0.608654
0.7        -0.776889       0.775599     -0.800213      -0.949426

mag                                           6.5                 \
rrup            1000                           10
model  AkkarEtAl2008 CauzziEtAl2014 AkkarEtAl2008 CauzziEtAl2014
period
0.0        -1.761078       0.813735     -0.070881       0.145514
0.1        -0.108827      -0.761557     -1.511729       1.479269
0.2         0.574101       1.082836      1.196809      -0.310715
0.3         0.834068       0.264553      0.449714       0.364202
0.4        -0.892579       0.369818     -0.492091       0.220146
0.5        -0.278875      -0.054085      0.046242      -0.982073
0.6        -0.484814       1.978169     -0.977571      -0.751979
0.7        -0.187824      -0.766408     -0.360313       0.764796

mag
rrup             100                         1000
model  AkkarEtAl2008 CauzziEtAl2014 AkkarEtAl2008 CauzziEtAl2014
period
0.0         0.170961       0.278451     -1.435137      -0.391091
0.1         0.618122       0.886560     -0.381265      -0.803524
0.2         0.343530      -0.643904      0.166601       2.215553
0.3         1.836391       3.693579     -0.792025      -0.918594
0.4        -0.240701       0.877269      0.268362      -0.799153
0.5         0.419548      -0.326332     -1.303088       2.969534
0.6         0.182530      -1.685829      0.658182       0.632901
0.7        -0.828983      -1.076377      0.330469      -0.061597

Columns:
MultiIndex([('5.5',   '10',  'AkkarEtAl2008'),
            ('5.5',   '10', 'CauzziEtAl2014'),
            ('5.5',  '100',  'AkkarEtAl2008'),
            ('5.5',  '100', 'CauzziEtAl2014'),
            ('5.5', '1000',  'AkkarEtAl2008'),
            ('5.5', '1000', 'CauzziEtAl2014'),
            ('6.5',   '10',  'AkkarEtAl2008'),
            ('6.5',   '10', 'CauzziEtAl2014'),
            ('6.5',  '100',  'AkkarEtAl2008'),
            ('6.5',  '100', 'CauzziEtAl2014'),
            ('6.5', '1000',  'AkkarEtAl2008'),
            ('6.5', '1000', 'CauzziEtAl2014')],
           names=['mag', 'rrup', 'model'])

### As you can see, the dataframe read from disk has all ciolumns levels (mag, dist, models) converted to string.
This is probably due to the fact that the last level (models) is a string and thus the only type for all levels is object

Anyway, **This meand to get the (sub)dataframe where mag = 5.5 and dist = 10, you should do**:

In [6]:
df["5.5"]["10"]

model   AkkarEtAl2008  CauzziEtAl2014
period
0.0         -1.516320        0.970016
0.1          1.344528        0.779223
0.2         -0.079413       -0.658428
0.3         -0.727160       -1.532905
0.4          1.606640       -1.402644
0.5         -1.202337        1.340564
0.6         -0.371842       -1.281515
0.7         -0.776889        0.775599

If you want to access data as floats, then do:

In [7]:
mags, dists, models = df.columns.levels
df.columns = df.columns.set_levels([mags.astype(float), dists.astype(float), models])

Now the same can be obtained via:

In [8]:
df[5.5][10]

model   AkkarEtAl2008  CauzziEtAl2014
period
0.0         -1.516320        0.970016
0.1          1.344528        0.779223
0.2         -0.079413       -0.658428
0.3         -0.727160       -1.532905
0.4          1.606640       -1.402644
0.5         -1.202337        1.340564
0.6         -0.371842       -1.281515
0.7         -0.776889        0.775599

In [9]:
df.columns.names

FrozenList(['mag', 'rrup', 'model'])

In [26]:
from io import StringIO

In [39]:
mags = [5.5, 6.5]
dists = [10, 100, 1000]
idx = pd.MultiIndex.from_product([mags, dists, [0]], names=["mag", "rrup", "period"])

imts = ['SA(0.1)', 'PGA']
models = ['AkkarEtAl2008', 'CauzziEtAl2014']

colz = pd.MultiIndex.from_product([imts, models], names=["imt", "model"])

# arrays = [
#     np.array([5.5, 5.5, 5.5, 6.5]),
#     np.array([10, 100, 1000]),
# ]
df = pd.DataFrame(np.random.randn(6, 4), columns=colz, index=idx)
display(df)

print(df.index)

s = StringIO()
df.to_csv(s)
print(s.getvalue())

display(df.loc[5.5, 'SA(0.1)'])

imt                   SA(0.1)                          PGA
model           AkkarEtAl2008 CauzziEtAl2014 AkkarEtAl2008 CauzziEtAl2014
mag rrup period
5.5 10   0           0.273390      -0.875040      0.686425      -1.371101
    100  0           1.378591      -1.588641     -0.738438       2.279917
    1000 0           0.437265      -0.822894     -0.457911      -1.459648
6.5 10   0           1.693893      -0.894996      1.125993      -0.023912
    100  0           0.685547       0.046841     -1.304795      -0.004907
    1000 0           0.137323      -0.040851     -0.151468       2.065716

MultiIndex([(5.5,   10, 0),
            (5.5,  100, 0),
            (5.5, 1000, 0),
            (6.5,   10, 0),
            (6.5,  100, 0),
            (6.5, 1000, 0)],
           names=['mag', 'rrup', 'period'])
imt,,,SA(0.1),SA(0.1),PGA,PGA
model,,,AkkarEtAl2008,CauzziEtAl2014,AkkarEtAl2008,CauzziEtAl2014
mag,rrup,period,,,,
5.5,10,0,0.27339018551996863,-0.8750401537057314,0.6864245566363084,-1.3711005083257821
5.5,100,0,1.3785907757801403,-1.588640620228632,-0.7384384729478025,2.2799174324508025
5.5,1000,0,0.4372649725067672,-0.8228942503292631,-0.45791059084306934,-1.45964832716358
6.5,10,0,1.6938931669013506,-0.8949957790826457,1.125992699179957,-0.02391245062511547
6.5,100,0,0.6855468665815723,0.04684130915554916,-1.3047954384337266,-0.004907457316179409
6.5,1000,0,0.13732333408652625,-0.04085092411798273,-0.15146784461042107,2.065716403210506

model        AkkarEtAl2008  CauzziEtAl2014
rrup period
10   0            0.273390       -0.875040
100  0            1.378591       -1.588641
1000 0            0.437265       -0.822894

In [25]:
mags = [5.5, 6.5]
dists = [10, 100]
periods = [0.1, 0.2, 0.5, 1, 10]
idx = pd.MultiIndex.from_product([mags, dists, periods], names=["mag", "rrup", "period"])

imts = ['SA']
models = ['AkkarEtAl2008', 'CauzziEtAl2014']

colz = pd.MultiIndex.from_product([imts, models], names=["imt", "model"])

# arrays = [
#     np.array([5.5, 5.5, 5.5, 6.5]),
#     np.array([10, 100, 1000]),
# ]
df = pd.DataFrame(np.random.randn(20, 2), columns=colz, index=idx)
df

imt                        SA
model           AkkarEtAl2008 CauzziEtAl2014
mag rrup period
5.5 10   0.1         0.289578      -0.123214
         0.2         0.032013      -0.304444
         0.5        -0.379741       0.872229
         1.0         0.883153      -2.792596
         10.0        0.593189      -0.439620
    100  0.1        -0.652797      -0.265390
         0.2        -0.342500       0.149672
         0.5        -0.332588      -1.648910
         1.0        -0.132400       0.588323
         10.0       -0.692746       0.982877
6.5 10   0.1         0.308982      -2.089961
         0.2        -1.538853       1.846732
         0.5        -0.485846       0.496065
         1.0        -1.942306      -1.030166
         10.0        0.523987       0.889000
    100  0.1        -0.649448       1.587191
         0.2         0.565481       0.457518
         0.5         1.140530       0.740536
         1.0         2.181027       1.276968
         10.0       -1.371713      -0.604108

In [58]:
mags = [5.5, 6.5]
dists = [10, 100, 1000]
# idx = pd.MultiIndex.from_product([mags, dists, [0]], names=["mag", "rrup", "period", "medians"])

imts = ['SA(0.1)', 'PGA']
models = ['AkkarEtAl2008', 'CauzziEtAl2014']

from itertools import product
colz = list(product(['medians'], imts, models))
colz = [('mag', '', ''), ('rrup', '', ''), ('period', '', '')] + colz

# colz = pd.MultiIndex.from_product([imts, models], names=["imt", "model"])

# arrays = [
#     np.array([5.5, 5.5, 5.5, 6.5]),
#     np.array([10, 100, 1000]),
# ]
df = pd.DataFrame(np.random.randn(6, 7), columns=pd.MultiIndex.from_tuples(colz, names=['name', 'imt', 'model']))
display(df)

print(df.index)

s = StringIO()
df.to_csv(s)
print(s.getvalue())

assert isinstance(df.mag, pd.Series)
display(df.medians)
display(df.medians['SA(0.1)'])
display(df[(df.mag > 0)])

name        mag      rrup    period       medians                 \
imt                                       SA(0.1)
model                               AkkarEtAl2008 CauzziEtAl2014
0     -0.494330  1.316004 -1.279203     -1.129098       1.349621
1     -0.724381  1.620785  0.050710      0.973152      -0.579591
2      0.792109  2.139997  0.295286     -0.197117      -0.417016
3      0.669890 -0.283045  0.124017      1.708614      -0.916967
4     -2.409993 -0.343997  0.227463      0.989360      -1.164080
5      0.249434 -0.407080  0.969052      1.193233       0.852898

name
imt             PGA
model AkkarEtAl2008 CauzziEtAl2014
0          0.752316      -0.808778
1         -0.555612      -2.712636
2         -2.589528       0.544982
3          0.803997       0.282461
4         -0.736532      -0.200010
5         -0.809095      -0.455144

RangeIndex(start=0, stop=6, step=1)
name,mag,rrup,period,medians,medians,medians,medians
imt,,,,SA(0.1),SA(0.1),PGA,PGA
model,,,,AkkarEtAl2008,CauzziEtAl2014,AkkarEtAl2008,CauzziEtAl2014
0,-0.4943296042002439,1.3160038600949255,-1.2792034957871607,-1.1290982760555255,1.349620816964617,0.7523155088797497,-0.8087782420780973
1,-0.7243813219217338,1.6207853235692158,0.050710071960647495,0.9731521811366223,-0.5795907303520313,-0.5556120816453871,-2.7126362882016144
2,0.7921088975506219,2.139997049820583,0.2952856681593592,-0.19711660318408125,-0.41701628333620544,-2.5895276845357946,0.5449824231819964
3,0.669890483952595,-0.2830452264291577,0.12401669538980294,1.708614493165999,-0.9169672504205866,0.8039965344478617,0.2824610210991806
4,-2.4099934282916697,-0.34399688950941787,0.22746291824716552,0.9893599566882044,-1.164079613140042,-0.7365317584506214,-0.20001015679468515
5,0.24943397660405292,-0.4070795915000982,0.9690520504526559,1.1932333219055118,0.8528983136811236,-0.8090954646212966,-0.4551439924813803

imt         SA(0.1)                          PGA
model AkkarEtAl2008 CauzziEtAl2014 AkkarEtAl2008 CauzziEtAl2014
0         -1.129098       1.349621      0.752316      -0.808778
1          0.973152      -0.579591     -0.555612      -2.712636
2         -0.197117      -0.417016     -2.589528       0.544982
3          1.708614      -0.916967      0.803997       0.282461
4          0.989360      -1.164080     -0.736532      -0.200010
5          1.193233       0.852898     -0.809095      -0.455144

model  AkkarEtAl2008  CauzziEtAl2014
0          -1.129098        1.349621
1           0.973152       -0.579591
2          -0.197117       -0.417016
3           1.708614       -0.916967
4           0.989360       -1.164080
5           1.193233        0.852898

name        mag      rrup    period       medians                 \
imt                                       SA(0.1)
model                               AkkarEtAl2008 CauzziEtAl2014
2      0.792109  2.139997  0.295286     -0.197117      -0.417016
3      0.669890 -0.283045  0.124017      1.708614      -0.916967
5      0.249434 -0.407080  0.969052      1.193233       0.852898

name
imt             PGA
model AkkarEtAl2008 CauzziEtAl2014
2         -2.589528       0.544982
3          0.803997       0.282461
5         -0.809095      -0.455144